<h1 id="tableLabel">Role - {{roleInfo[0].roleName}}</h1>
<ng-container>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="exchangeBoxItem.itemsFromAssignedUsers.length > 0; else elseBlock">
      <thead>
        <tr>
          <th>Assigned Role(s)</th>
          <th><app-input-filter [placeHolder]="placeHolder" (messageEvent)="receiveFilterForAssignedEmployee($event)"></app-input-filter></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of exchangeBoxItem.itemsFromAssignedUsers | filterEmail: filterTextForAssignedEmployees">
          <td><a class="edit-icon" [routerLink]="['/fetch-employee-showroom', 'employees', 'edit', user.epeId]">{{user.email}}</a></td>
          <td> </td>
        </tr>
      </tbody>
    </table>

    <app-exchange-box 
                      [checkboxTitle] = "'Employees'"
                      [exchangBoxType] = "4"
                      [assignedUsers] = "exchangeBoxItem.itemsFromAssignedUsers"
                      [candidateUsers] = "exchangeBoxItem.itemsFromCandidateUsers"
                      (assignUsers) = "assignUsersToRole()"
                      (removeUsers) = "removeUsersFromRole()"
                      >
      >
    </app-exchange-box>
  <ng-template #elseBlock>
    <div class="mb-3">
      <b>No User Assigned to this role yet</b>
    </div>
  </ng-template>

</ng-container>
