<div class="container my-3">
  <h1 class="mb-3" id="tableLabel">Create New Employee</h1>
  <div class="row">
    <div class="col-12">

      <form #f="ngForm" (ngSubmit)="createEmployeeOnSubmit()">
        <div class="col-6">
          <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input name="userEmail"
                   type="email"
                   class="form-control"
                   id="user-email"
                   required
                   email
                   [(ngModel)]="employee.email"
                   #email="ngModel">
            <span class=" alert-danger" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
          <div class="mb-2">
            <label for="firstName" class="form-label">First Name</label>
            <input
                   name="first"
                   type="text"
                   class="form-control"
                   id="first-name"
                   [(ngModel)]="employee.firstName"
                   required
                   #firstName ="ngModel">
            <span  class="help-block alert-danger" *ngIf="!firstName.valid && firstName.touched">First Name is required!</span>
          </div>
          <div class="mb-2">
            <label for="middleName" class="form-label">Middle Name</label>
            <input name="middle" type="text" class="form-control" id="middle-name" [(ngModel)]="employee.middleName">
          </div>
          <div class="mb-2">
            <label for="lastName" class="form-label">Last Name</label>
            <input name="last"
                   type="text"
                   class="form-control"
                   id="last-name"
                   [(ngModel)]="employee.lastName"
                   required
                   #lastName="ngModel">
            <span class="help-block alert-danger" *ngIf="!lastName.valid && lastName.touched">Last Name is required!</span>
          </div>
          <div class="mb-2">
            <label for="samAccount" class="form-label">Sam Account</label>
            <input name="sam"
                   type="text"
                   class="form-control"
                   id="sam-account"
                   [(ngModel)]="employee.samAccountName"
                   required
                   #samAccount="ngModel">
            <span class="help-block alert-danger" *ngIf="!samAccount.valid && samAccount.touched">Sam Account is required!</span>
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password" [(ngModel)]="employee.password">
          </div>
          <div class="mb-2">
            <label for="passwordSalt" class="form-label">Password Salt</label>
            <input name="passwordSalt" type="password" class="form-control" id="password-salt" [(ngModel)]="employee.passwordSalt">
          </div>
          <div class="mb-2">
            <label for="dob" class="form-label">Date of Birth</label>
            <input name="dob"
                   type="date"
                   class="form-control"
                   id="dob"
                   [(ngModel)]="employee.dob"
                   required
                   #dob="ngModel">
            <span class="help-block alert-danger" *ngIf="!dob.valid && dob.touched">Date of Birth is required!</span>
          </div>
          <div class="mb-2">
            <label for="code" class="form-label">Code</label>
            <input name="Code" type="text" class="form-control" id="code" [(ngModel)]="employee.code">
          </div>
          <div class="mb-2">
            <label for="contractor" class="form-label">Is Contractor?</label>
            <select name="contractor" [(ngModel)]="employee.isContractor" class="form-select" aria-label="Default select example" id="is-contractor">
              <option [ngValue]="false">No</option>
              <option [ngValue]="true">Yes</option>
            </select>
          </div>
          <div class="mb-2">
            <label for="contractorType" class="form-label">Contractor Type</label>
            <input name="contractor" type="text" class="form-control" id="contractor-type-id" [(ngModel)]="employee.contractorTypeId">
          </div>
          <div class="mb-2">
            <label for="showroom" class="form-label">Show Room</label>
            <input name="showroom" type="text" class="form-control" id="showroom" [(ngModel)]="employee.defaultShowroomFk">
          </div>
          <div class="mb-2">
            <label for="status" class="form-label">Status</label>
            <input name="status" type="text" class="form-control" id="status" [(ngModel)]="employee.status">
          </div>
          <div class="mb-2">
            <label for="companyId" class="form-label">Company Id</label>
            <input name="companyId" type="number" class="form-control" id="company-id" [(ngModel)]="employee.companyId">
          </div>
          <div class="mb-2">
            <label for="maxLeadCount" class="form-label">Max Lead Count</label>
            <input name="maxLeadCount" type="text" class="form-control" id="max-lead-count" [(ngModel)]="employee.maxLeadCount">
          </div>
          <div class="mb-2">
            <label for="monthlyBudget" class="form-label">Monthly Budget</label>
            <input name="budget" type="number" class="form-control" id="monthly-budget" [(ngModel)]="employee.monthlyBudget">
          </div>

          <div class="button-container">
            <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!f.valid"
                    >Save Changes</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            <button class="btn btn-primary" type="button" (click)="f.resetForm()" >Clear</button>
          </div>
          <div class=" mb-3" *ngIf="statusDesc.status == 400">
            <label for="state" class="form-label"></label>
            <div class="alert alert-danger form-label" role="alert">
              Error! {{statusDesc.description}}
            </div>
          </div>
          <div class=" mb-3" *ngIf="statusDesc.status == 200">
            <label for="state" class="form-label"></label>
            <div class="alert alert-success" role="alert">
              {{statusDesc.description}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
